body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(0.25turn, #030404, #f2f1f2, #030404);
    align-items: center;
    align-content: center;
    
    
}

footer{
    /* background-color: gray; */
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: small;
} 

.main{
    max-width: 1200px;
    margin:0 auto;
    padding: 40px 24px;
}

.playlist-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    /* grid-template-columns: repeat(4,1fr); */
    max-width: 1200px;
    gap: 30px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(0.25turn, #1e201e, #f2f1f2, #1e201e);
    border-radius: 16px;
    

}

.playlist-card{
    /* width: 300px;
    height:400px; */
    background: linear-gradient(0.25turn, #1e201e, #f2f1f2, #1e201e);
    /* border: 1px solid #ccc; */
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
}

.playlist-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    
}

.playlist-card:hover{
    background: linear-gradient(0.25turn, #263926, #f2f1f2, #567156);
}
.like-button{
    font-size: 14px;
    color: red
}

.card-content{
    padding: 12px;
}

.modal-overlay{
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content{
    background-color: rgb(206, 200, 200);
    box-shadow: 0 10px 25px rgba(166, 202, 73, 0.8);
    padding: 24px;
    border-radius: 12px;
    max-width: 800px;
    width: 100%;
}

.hidden{
    display: none;
}

.playlist-header{
display: flex;
align-items: center;
gap: 16px;
margin-bottom: 24px;
}

.playlist-header img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.song-list{
   max-height: 300px;
   overflow-y: auto;
   padding-right: 10px;
}

.song-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #9d9b9b;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 16px;

}
.song-info{
    flex: 1;
    margin-left: 12px
}

.song-item img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;

}
.song-title{
    font-weight: bold;
    margin-bottom: 2px;
}

.like-container {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.fa-heart {
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-right: 10px;
}
.fa-heart.liked {
    color: red;
}

#shuffle-button{
    padding: 8px 16px;
    background-color: #007bff;
    border: none;
    color:white;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px 0;
    font-size: 14px;
}
#shuffle-button:hover{
    background-color: #0056b3;
}

.song-cover{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;

}

.song-row{
    display: flex;
    align-items: center;
    gap: 15px;
    object-fit: cover;
    border-radius: 5px;
}

.nav-header {
    font-weight: bold;
    font-size: 20px;
}
.nav-bar{
    padding: 5px 10px;
    display: flex;
    background: linear-gradient(0.25turn, #afbdbd, #f2f1f2, #96bbbb);
    justify-content: space-between;
    position: relative;
}
.nav-bar ul{
    display: flex;
    list-style: none;
}
.nav-bar ul li{
    padding-left: 15px;
    font-size: medium;
    font-weight: bold;
}




#main-card{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    flex-direction: column;
    background-color: red;
    background: linear-gradient(0.25turn, #030404, #f2f1f2, #030404);

}

#playlist-form{
    width:100%;
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    text-align: center;
    background: linear-gradient(0.25turn, #8db3b3, #f2f1f2, #0a4815);
}

#playlist-form input{
    display: block;
    width: 90%;
    margin: 10px 0;
    padding:12px;
    font-size: 16px
}

.song-input{
    border-bottom: 1px dashed #ccc;
    margin-bottom: 10px;
}

#playlist-form h2{
    text-align: center;
    margin-bottom: 20px;
}

.search-container{
    display: flex;
    justify-content: center;
    margin: 30px auto 10px auto;
}

#search-input{
    width:90%;
    max-width: 800px;
    padding: 12px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.08);
}

.form-wrapper{
    display:flex;
    justify-content: center;
    margin-top: 40px;
}

.featured-layout{
    display: flex;
    align-items: flex-start;
    padding: 30px;
    margin: 40px auto;
    gap: 40px;
    max-width: 900px;
    justify-content: center;
    /* background-color: white; */
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.08);
    background: linear-gradient(0.25turn, #182222, #f2f1f2, #0a4815);
}

#featured-left img{
    width: 100%;
    min-width: 400px;
    border-radius: 10px;
    object-fit: cover;

}
#featured-right .song-row{
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.sort-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

#sort-select{
    padding: 8px 12px;
    font-size: 16px;
    border-radius:6px;
}

#create-new {
  background-color: #090d09; 
  color: white; 
  padding: 10px 20px; 
  border: none;
  border-radius: 5px;
  cursor: pointer; 
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 200px;
  position: fixed;
}

#create-new:hover {
  background-color: #0f0b8d;
}

#create-new:active {
  background-color: #3e8e41; 
  transform: translateY(2px);
}

#create-new:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(72, 207, 173, 0.5);
}
